body {
	background: url(../images/background.jpg) transparent;
}
#wrapper {
	margin: 75px 0 50px 0;
	padding: 20px;
	background-color: #ebdecd;
	border-radius: 20px;
}
header {
	background-color: #f5f5f5;
	padding: 5px 15px;
	margin-bottom: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.container-nav {
	margin-bottom: 5px;
}
.breadcrumb {
	margin: 10px 0;
}
body.component #wrapper {
	margin: 0;
	border-radius: 0;
}
/* Generic Typo */
a {
	color: #975310;
	text-decoration: none;
}
.page-header,
h2.item-title {
	border-bottom: 1px solid #cbb88e;
	box-shadow: 0 1px #faf7ee;
}
img {
	max-width: 100%;
}
/* Menu */
.nav > li > a {
	padding: 8px 12px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	line-height: 14px;
	border-radius: 5px;
	display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #cbb88e;
}
.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
	color: #fff;
	background-color: #975310;
}
.icon-menu:before {
	content: "";
}
.navbar-toggler[aria-expanded="true"] {
	margin-bottom: 5px;
}
.mod-menu {
	display: block;
}
@media (width >= 768px) {
	.mod-menu {
		display: flex;
	}
}
/* Kontakt */
.dl-horizontal {
	margin-top: 20px;
}
.dl-horizontal dd {
	margin-left: 30px;
	margin-bottom: 0;
}
.dl-horizontal dt {
	width: 20px;
	float: left;
}
.com-contact__form button {
	margin-top: 10px;
}